# Dependencies
node_modules/

# Env files
.env
.env.local
.env.*.local

# Logs
logs/
*.log
npm-debug.log*

# Build artifacts
dist/
build/
coverage/

# Caches
.cache/
.eslintcache
.turbo/

# OS/IDE
.DS_Store
.idea/
.vscode/

# Temp
tmp/
temp/
